$primary-color: steelBlue;
$bg-color: hsl(0, 0%,15%);
$text-color: #fff;
$bg-color-modal: rgb(117, 16, 16);
$bg-color-hover: rgb(117, 16, 16,70%);
$bg-color-secundary: hsl(0, 0%,20%);
$bg-color-third: hsl(0, 0%,80%);

